:root {
  --bg-one: #e466f0;   
  --bg-two: #ec426c;    
  --bg-three: #6B8E23;
  --bg-four: #3d9cc2; 
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-one);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  transition: background-color 1s ease;
}

h1 {
  font-size: 3rem;
  padding-bottom: 10px;
  border-bottom: 2px solid white;
  margin: 5px;
}

p {
  letter-spacing: 2px;
  font-weight: 600;
  margin-top: 15px;
}
